<?xml version="1.0" encoding="utf-8"?>
<odoo>
   <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
   <menuitem id="menu_root"
             name="Test"
             sequence="10"/>

    <!-- This Menu Item must have a parent and an action -->
    <menuitem id="material_root"
              name="Material"
              parent="menu_root"
              sequence="20"/>
</odoo>